<a href="https://colab.research.google.com/github/srikar-ds/Sales-Stores/blob/main/Bowler_v_s_Striker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
print(df)
df.head()
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ABD vs Bumrah/ipl_ball_by_ball_data.csv")

   match_id  season  ... other_wicket_type other_player_dismissed
0    335982    2008  ...               NaN                    NaN
1    335982    2008  ...               NaN                    NaN
2    335982    2008  ...               NaN                    NaN
3    335982    2008  ...               NaN                    NaN
4    335982    2008  ...               NaN                    NaN

[5 rows x 22 columns]

## Pre processing data & cleaning

In [ ]:
df.innings.unique()

array([1, 2, 4, 3, 5, 6])

In [ ]:
df= df[(df.innings == 1) & (df.innings == 2)]

df.innings.unique()

array([], dtype=int64)

In [ ]:
df.bowling_team.unique()
df

Empty DataFrame
Columns: [match_id, season, start_date, venue, innings, ball, batting_team, bowling_team, striker, non_striker, bowler, runs_off_bat, extras, wides, noballs, byes, legbyes, penalty, wicket_type, player_dismissed, other_wicket_type, other_player_dismissed]
Index: []

In [ ]:
df[(df.bowling_team == 'Mumbai Indians')]['bowler'].unique()

array([], dtype=object)

In [ ]:
df[df.batting_team == 'Royal Challengers Bangalore']['striker'].unique()

array([], dtype=object)

In [ ]:
## then key now is match up the guys 

req_df = df[(df.striker == 'Ab de Villiers') & (df.bowling_team == 'JJ Bumrah')]

In [ ]:
req_df.head(5)

Empty DataFrame
Columns: [match_id, season, start_date, venue, innings, ball, batting_team, bowling_team, striker, non_striker, bowler, runs_off_bat, extras, wides, noballs, byes, legbyes, penalty, wicket_type, player_dismissed, other_wicket_type, other_player_dismissed]
Index: []

In [ ]:
# no of runs scored
# no of balled faced
# then no of dismissals involovedinvolved

In [ ]:
sum(req_df['runs_off_bat'])

0

In [ ]:
# no of balls is basically
len(req_df)

In [ ]:
len(req_df[req_df.player_dismissed == 'AB de Villiers']

SyntaxError: ignored

In [ ]:
# strike rates

100*sum(req_df.runs_off_bat)/len(req_df)

ZeroDivisionError: ignored

In [ ]:
## compare bumrah vs rest batsman

In [ ]:
df.head(1)

Empty DataFrame
Columns: [match_id, season, start_date, venue, innings, ball, batting_team, bowling_team, striker, non_striker, bowler, runs_off_bat, extras, wides, noballs, byes, legbyes, penalty, wicket_type, player_dismissed, other_wicket_type, other_player_dismissed]
Index: []

In [ ]:
bumrah_df = df[df.bowler=='JJ Bumrah']

In [ ]:
bdf1 = pd.DataFrame(bumrah_df.groupby('striker')['runs_off_bat'].sum()).reset_index()

In [ ]:
bdf2 = pd.DataFrame(bumrah_df.groupby('striker')['ball'].count()).reset_index()

In [37]:
bdf2.head()

Empty DataFrame
Columns: [striker, ball]
Index: []

In [44]:
  =bdf1.merge(bdf2, on= 'striker',how = 'left' )

SyntaxError: ignored

In [46]:
bdf3 =bdf3[bdf3.ball > 30]
bdf3.head()

Empty DataFrame
Columns: [runs_off_bat, striker, ball]
Index: []

In [47]:
abd_df = df[df.striker == 'AB de Villiers']

In [52]:
abd1 =pd.DataFrame(abd_df.groupby['Bowler']['runs_off_ball'].count()).reset.index()

TypeError: ignored

In [50]:
abd2 = pd.DataFrame(abd_df.groupby['Bowler']['ball']).count().rest.index()

TypeError: ignored

In [51]:
abd3 = abd1.merge(abd2, on ='Bowler', how = 'leftMb')

NameError: ignored

In [53]:
abd3['strike_rate'] = 100*abd3['runs_off_bat']/abd3['ball']

NameError: ignored

##### VISUALISATION

In [ ]:
plt.scatter()